<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        
        <style>
            img.empPhoto {
                width: 300px;
            }
            .fired {
                color: firebrick;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" th:inline="text">
            <h1>Pan Prezes</h1>
            <p>
                <b>
                    <span  th:text='|${boss.firstName} ${boss.lastName}|'>Imię i nazwisko</span>
                </b>
            </p>
            <img th:src="${boss.photoUrl}" class="empPhoto" 
                 src="http://via.placeholder.com/250x250"/>

            <h1>Pracownicy firmy</h1>

            <table class="table table-striped">
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th>Pensja</th>
                    <th>Data zatrudnienia</th>
                    <th>Data zwolnienia</th>
                    <th>Umiejętności</th>
                    <th>Uwagi</th>
                    <th>Zdjęcie</th>
                </tr>
                <tr th:each="employee, zmienna : ${employees}">
                    <td th:text="${zmienna.count}">Lp.</td>
                    <td th:text="|${employee.firstName} ${employee.lastName}|">Imię i nazwisko</td>
                    <td th:text="${employee.jobTitle}">Stanowisko</td>
                    <td th:text="${#numbers.formatDecimal(employee.salary,0,'WHITESPACE',2,'POINT')}">Pensja</td>
                    <td th:text="${#dates.format(employee.dateOfEmployment,'dd.MM.yyyy')}">01.01.2000</td>
                    <td><p th:unless="${employee.dateOfTermination}">Wciąż pracuje</p>
                        <p th:if="${employee.dateOfTermination}" th:class="fired" th:text="${#dates.format(employee.dateOfTermination,'dd.MM.yyyy')}">Data zwolnienia</p></td>
                    <td><p th:each = "skill, iterStat : ${employee.skills}" th:text="|${skill.name} (${skill.level})|+(${iterStat.last}? '' : ',')">Umiejętność (Poziom)</p></td>
                    <td><p th:each = "comment, iterStat : ${employee.comments}" th:text="${comment}">Komentarz</p></td>
                    <td><img th:src="${employee.photoUrl}" class="empPhoto"></img></td>
                </tr>
            </table>
        </div>
    </body>
</html>